* {
    color: var(--content-4);
    font-family: HFNSS;
    font-size: var(--s-5);
    -webkit-font-smoothing: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    --bg-0: #030907;
    --bg-1: #071D10;
    --bg-2: #082208;
    --bg-3: #142909;
    --bg-4: #30371A;

    --backdrop-color: #03090780;

    --content-5: #E0D6CA;
    --content-4: #B0A69A;
    --content-3: #807672;
    --content-2: #57524F;
    --content-1: #2C2826;
    --content-0: #131610;

    --important-5: #E3D34B;
    --important-4: #B39F4B;
    --important-3: #837339;
    --important-2: #5A4F0E;
    --important-1: #302507;
    --important-0: #161303;

    --problem-5: #F21D23;


    --problem-2: #651A20;
    --problem-1: #320d10;

    --s-neg-7: -128px;

    --s-0: 0px;
    --s-1: 2px;
    --s-2: 4px;
    --s-3: 8px;
    --s-4: 16px;
    --s-5: 32px;
    --s-6: 64px;
    --s-7: 128px;
    --s-8: 256px;
    --s-8p5: 384px;
    --s-9: 512px;
    --s-a: 1024px;

    background-color: var(--bg-1);

    height: 100vh;

}


.outset {
    border-right: var(--s-1) solid var(--content-0);
    border-bottom: var(--s-1) solid var(--content-0);
    border-top: var(--s-1) solid var(--content-2);
    border-left: var(--s-1) solid var(--content-2);
}

.inset-important {
    border-right: var(--s-1) solid var(--important-0);
    border-bottom: var(--s-1) solid var(--important-0);
    border-top: var(--s-1) solid var(--important-2);
    border-left: var(--s-1) solid var(--important-2);
}

.inset {
    border-right: var(--s-1) solid var(--content-2);
    border-bottom: var(--s-1) solid var(--content-2);
    border-top: var(--s-1) solid var(--content-0);
    border-left: var(--s-1) solid var(--content-0);
}

.inset-important {
    border-right: var(--s-1) solid var(--important-2);
    border-bottom: var(--s-1) solid var(--important-2);
    border-top: var(--s-1) solid var(--important-0);
    border-left: var(--s-1) solid var(--important-0);
}

.page-container {
    height: 100%;
    display: flex;
}

.text-field {
    background-color: var(--bg-0);

    border-right: var(--s-1) solid var(--content-2);
    border-bottom: var(--s-1) solid var(--content-2);
    border-top: var(--s-1) solid var(--content-0);
    border-left: var(--s-1) solid var(--content-0);
    padding: var(--s-3);

    width: 100%;

    outline: none;
}

.button {
    padding: var(--s-3);

    outline: none;

}

a.button {
    display: block;
    text-decoration: none;
}

.button.button-simple {
    background-color: var(--content-1);
}

.button.button-simple:hover {
    color: var(--content-5);
}

.button.button-disabled {
    background-color: var(--content-0);
}

.button.button-primary {
    color: var(--important-4);
    background-color: var(--important-1);

    border-right: var(--s-1) solid var(--important-0);
    border-bottom: var(--s-1) solid var(--important-0);
    border-top: var(--s-1) solid var(--important-2);
    border-left: var(--s-1) solid var(--important-2);
}

.button.button-primary:hover {
    color: var(--important-5);
}

.button.button-destructive {
    color: var(--important-4);
    background-color: var(--important-1);

    border-right: var(--s-1) solid var(--important-0);
    border-bottom: var(--s-1) solid var(--important-0);
    border-top: var(--s-1) solid var(--important-2);
    border-left: var(--s-1) solid var(--important-2);
}

.button.button-destructive:hover {
    color: var(--important-5);
}

.button.button-simple:active, .button.button-simple.active {
    color: var(--content-5);
    border-right: var(--s-1) solid var(--content-2);
    border-bottom: var(--s-1) solid var(--content-2);
    border-top: var(--s-1) solid var(--content-0);
    border-left: var(--s-1) solid var(--content-0);
}

.button.button-primary:active, .button.button-primary.active {
    color: var(--important-5);
    border-right: var(--s-1) solid var(--important-2);
    border-bottom: var(--s-1) solid var(--important-2);
    border-top: var(--s-1) solid var(--important-0);
    border-left: var(--s-1) solid var(--important-0);
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.grow {
    flex: 1;
}

.border-r {
    border-right: var(--s-1) solid var(--content-2);
}

.border-r-content-1 {
    border-right: var(--s-1) solid var(--content-0);
}

.border-content-1 {
    border: var(--s-1) solid var(--content-1);
}

.border-content-2 {
    border: var(--s-1) solid var(--content-2);
}

.m-2 {
    margin: var(--s-2);
}

.mt-4 {
    margin-top: var(--s-4);
}

.p-2 {
    padding: var(--s-2);
}

.p-3 {
    padding: var(--s-3);
}

.p-4 {
    padding: var(--s-4);
}

.py-4 {
    padding-top: var(--s-4);
    padding-bottom: var(--s-4);
}

.g-3 {
    gap: var(--s-3);
}

.g-4 {
    gap: var(--s-4);
}

.text-important-4 {
    color: var(--important-4);
}


.text-content-1 {
    color: var(--content-1);
}

.text-content-2 {
    color: var(--content-2);
}

.text-content-5 {
    color: var(--content-5);
}

.w-4 {
    width: var(--s-4);
}

.w-5 {
    width: var(--s-5);
}

.w-7 {
    width: var(--s-7);
}

.w-8 {
    width: var(--s-8);
}

.w-8p5 {
    width: var(--s-8p5);
}

.w-9 {
    width: var(--s-9);
}

.w-a {
    width: var(--s-a);
}

.w-512px {
    width: 512px;
}

.w-full {
    width: 100%;
}

.bg-content-0 {
    background-color: var(--content-0);
}

.bg-content-1 {
    background-color: var(--content-1);
}

.bg-content-4 {
    background-color: var(--content-4);
}


.bg-important-1 {
    background-color: var(--important-1);
}

.bg-background-0 {
    background-color: var(--bg-0);
}

.bg-background-1 {
    background-color: var(--bg-1);
}

.bg-background-2 {
    background-color: var(--bg-2);
}

.bg-background-4 {
    background-color: var(--bg-4);
}

.bg-background-2-hover:hover {
    background-color: var(--bg-2);
}

.bg-background-4-hover:hover {
    background-color: var(--bg-4);
}

.backdrop {
    background-color: var(--backdrop-color);
}

.bg-problem-1 {
    background-color: var(--problem-1);
}

.relative {
    position: relative;
}

canvas {
    image-rendering: pixelated;
}

.absolute {
    position: absolute;
}

.left-0 {
    left: 0px;
}


.left-4 {
    left: var(--s-4);
}

.left-50-pct {
    left: 50%;
}

.top-50-pct {
    top: 50%;
}

.right-0 {
    right: 0px;
}

.top-0 {
    top: 0px;
}

.bottom-0 {
    bottom: 0px;
}

.bottom-4 {
    bottom: var(--s-4);
}

.overflow-hidden {
    overflow: hidden;
}

spinner {
    animation: slideby 1s infinite;
    animation-timing-function: linear;
    top: 0px;
}

img {
    image-rendering: pixelated;
}

@keyframes slideby {
    from {
       left: var(--s-neg-7);
    }
    to {
        left: var(--s-8);
    }
}

.implode {
    transition: transform 128ms ease-in-out;
    transform: scale(0);
}

.h-4 {
    height: var(--s-4);
}

.h-5 {
    height: var(--s-5);
}

.h-8 {
    height: var(--s-8);
}

.h-512px {
    height: 512px;
}

.h-full {
    height: 100%;
}

.outline-none {
    outline: none;
}

.text-select-none {
    user-select: none;
}

.pointer {
    cursor: pointer;
}

toasts {
    position: absolute;
    right: var(--s-4);
    top: var(--s-4);
    gap: var(--s-4);
    display: flex;
    flex-direction: column;
    width: var(--s-8);
}

.hide {
    display: none;
}

.screen {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-none {
    cursor: none;
}